* {
    box-sizing: border-box;
}
html,body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat','Roboto Mono', sans-serif;
    font-size: 16px;
}
.header {
    background-image: url('../images/header_pic.jpeg');
    background-size: cover;
    height: 600px;
}
.logo > img {
    
}
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.651);
}
.navigation {
    display: flex;
    
}
.navigation > li {
    list-style: none;
}
.nav_link {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    padding: 28px 20px;
    margin: 0 5px;
}
.nav_link:hover {
    background:rgb(255, 0, 0);
    color: #fff;
    transition: all .3s ease-in-out;
}
.header_description {
    background: #fff;
    margin-right: 40px;
    padding: 20px;
    width: 500px;
    height: 350px;
    float: right;
    position: relative;
    top: 140px;
    right: 20px;
}
.header_description .badg {
    padding: 0;margin: 0;
    background: #ff5252;
    width: 100px;
    height: 40px;
    position: relative;
    bottom: 20px;
    right: 20px;
} 
.header_description > h1 {
    margin-top: 0;  
    letter-spacing: 5px;  
    text-align: center;
}
.descrip_tb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prix {
    color: #ff5252;
    font-weight: bold;
    font-size: 20px;
}

/*          ////////// CONTAINER  /////////////////*/
.container {
    padding: 40px 10%;
}
.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 20px 0;
    margin-bottom: 60px;
}
.gallery {
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    width: 100%;
}

.gallery img {
    height: auto;
    width: 100%;
}
.gallery:hover {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

.description {
    text-align: center;
    margin-top: 20px;
}

tbody {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 60px;
    background: #ececec;
    padding:0 40px;
}
tbody tr {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
td {
    
}
.house_detail {
    text-align: center;
    font-size: 20px;
}
.house_detail span {
    font-weight: bold;
}



/* /////////////// FOOTER  ///////////////////*/
footer {
    background: #ff5252;
    color: #fff;
    padding: 20px 30px;
}
.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a > * {
    font-size: 40px;
    margin:0 20px;
}
.footer_bottom {
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.fb-right {
    display: flex;
    
}
.fb-right p {
    margin: 0 10px;
}
hr {
    margin: 20px 0;
}